# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# ---- Debug/Release folders ----
/build/
/bin/
/debug/
/release/

# ---- External libraries ----
/external/

# ---- VS Code ----
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json

# ---- Logs / Temporary files ----
*.log
*.tmp
*.cache
*.swp
*.DS_Store
Thumbs.db

# ---- CMake ----
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile